:root {
    --silver: #F5F7FA;
    --btn: #28CB8B;
    --logo: #263238;
    --Grey-blue: #ABBED1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--silver);
    color: #263238;
}

p {
    font-size: 1.1rem;
}

header {
    display: flex;
    justify-content: space-between;
    background: var(--Grey-blue);
    align-items: center;
    padding: 15px;
    margin-bottom: 0 auto;
    position: sticky;
}

.logo {
    margin: 25px;
}

.menu a {
    color: var(--logo);
    background: rgb(238, 238, 238);
    text-decoration: none;
    justify-content: center;
    box-shadow: 2px 6px 8px rgb(175, 156, 156);
    margin: 12px;
    padding: 12px;
    transition: transform 0.5s, box-shadow 0.5s;
    border-radius: 20px;
}

.menu a:hover {
    color: black;
    transform: 10px;
    box-shadow: 0 5px 15px;
}

.regist-btn {
    margin: 1rem;
    padding: 1rem;
    background: var(--btn);
    border:currentColor;
    border-radius: 1rem;
    color: white;
}

.hero {
    background: var(--silver);
    padding: 3rem 2rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.frame1 {
    width: 50%;
    margin: 40px auto;
}

.hero h1 {
    font-size: 3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.clients {
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.clients-txt {
    text-align: center;
    margin: 20px;
}

.section-clients {
    width: 1000px;
    padding: 20px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

.section-clients img {
    transition: 0.8s;
    border-radius: 10px;
}

.section-clients img:hover {
    transform: 8px;
    box-shadow: 0 5px 15px;
}

.cont-community {
    background: var(--silver);
    display: grid;
    flex-direction: column;
    justify-content: center;
}

.community {
    padding: 1rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
}

.card-community {
    display: grid;
    justify-content: center;
    width: 300px;
    height: 200px;
    padding: 20px;
    border-radius: 15px;
    z-index: 1rem;
    background:#ebeaea;
    box-shadow: #F5F7FA;
}

.card-community img {
    width: 65px;
    height: 65px;
    margin: 0 auto;
}

.unlock {
    padding: 3rem 2rem;
    display: flex;
    justify-content: space-between;
    background: white;
}

.achievements {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 20px;
    margin: 20px;
    gap: 1rem;
}

.achi-icons {
    display: grid;
    padding: 1rem;
}

.cont-customer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.cont-customer img {
    display: flex;
    flex-direction: column;
}

footer {
    display: flex;
    justify-content: space-between;
    background: #263238;
    text-align: center;
    font-size: 0.9rem;
    padding: 3rem 2rem;
}

.foot-info {
    display: flex;
    flex-direction: column;
}

footer h1 {
    display: flex;
    color: white;
}

footer p {
    display: flex;
    color: white;
}

.foot-links { 
    color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.link1 {
    display: grid;
    margin: 0 auto;
    padding: 20px;
    gap: 0.8rem;
    text-align: start;
}

@media(max-width: 480px) {

    header {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .hero {
        width: 100%;
        height: 100%;
    }

    .hero {
        display: flex;
        flex-direction: column;
    }

    .clients {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    .section-clients {
        display: block;
    }

    .cont-community {
        display: block;
    }

    .community {
        display: flex;
        flex-direction: column;
    }

    .unlock {
        display: flex;
        flex-direction: column;
    }

    footer {
        display: flex;
        flex-direction: column;
    }
}
